    <!-- About Section -->
        <section id="projects">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading"></h2>
                        <h3 class="section-subheading text-muted">"Innovative projects and hardware hacking"</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-image">
                                    <img class="img-responsive" src="img/ensta.jpg" alt="" Vspace="10">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>INRIA-Ensta ParisTech/2014-2012</h4>
                                        <h4 class="subheading">Robotics Research Engineer</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Maintained and improved the control software architechture to make it more flexible, faster and easier to use with modern plateforms and middlewares.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-image">
                                    <!-- <img class="img-responsive" src="img/isir01.png" alt="" > -->
                                    <img class="img-responsive" src="img/isir02.jpg" alt="" >
                                    <img class="img-responsive" src="img/isir03.png" alt="" Vspace="10">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>ISIR-UPMC/2016-2014</h4>
                                        <h4 class="subheading">Robotics Research Engineer</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Developed optimization based controllers for Kuka LWR 4+, IIWA and iCUB.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="img-responsive" src="img/agilus.jpg" alt="Michael Roulier's robot">
                                    <img class="img-responsive" src="img/hercules01.gif" alt="Hercules 01" Vspace="10">
                                </div>
                                <div class="timeline-image">
                                </div>

                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>Studio Michaël Roulier-Foodfilm/2017</h4>
                                        <h4 class="subheading">Freelance Robotics Engineer</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Designed a synchronized robot/follow-focus system and user interface for filmaking with robots.</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <h4>To
                                    <br>Be
                                    <br>Continued !</h4>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
